/sipeka-resource/node_modules
/sipeka-resource/public/hot
/sipeka-resource/public/storage
/sipeka-resource/storage/*.key
/sipeka-resource/vendor
/sipeka-resource/.env
/sipeka-resource/.env.backup
/sipeka-resource/.phpunit.result.cache
/sipeka-resource/docker-compose.override.yml
/sipeka-resource/Homestead.json
/sipeka-resource/Homestead.yaml
/sipeka-resource/npm-debug.log
/sipeka-resource/yarn-error.log
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
